body {
    font-size: 18px;
    margin:0;
    padding:0;

}
.Header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    }

.Links {
    display:flex;
    gap: 20px;
}

.Header_Logo {
    color: #f9faf8;
    font-size: 24px;
}

.Header2
{    
    background-color: #1f2937;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    
}

.Header, .Header2 {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;

}

.H2L,
.H2R {
    flex: 1 1 0;
}

.H2R img {
    max-width: 100%;
}

.H2H {
    color: #f9faf8;
    font-weight:bolder;
    font-size: 48px
}

.H2text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom:8px;
}

#Signup, #Signup2 {
    background-color: #3882F6;
    border-radius: 6px;
    border:none;
    padding: 8px 30px;
    color: #f9faf8;
    font-weight:bold;
}

.white {
    margin-top: 50px;
    padding-bottom: 100px;
}

.Information {
    text-align:center;
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

.images {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:0;
    gap: 40px;

}

.images li {
    list-style: none;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    width: 220px;
    
}

.image {
    width: 200px;
    height:200px;
    border-radius: 15px;
    margin:10px;
    border: 5px solid #3882F6;
}
.image-text{
    text-align:center
}

.Quote {
    background-color: #e5e7eb;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:100px;
    padding-bottom:50px; 
    display:flex;
    justify-items: center;
    align-items: center;
}
.Qcontainer {
    margin-left: 10%;
    margin-right: 10%;
}

.Qtext {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}
.Qsign {
    font-weight: bold;
    text-align: right;  
}

.bluebox {
    margin: 100px 10%;
    background-color: #3882F6;
    display:flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 20px;
    color:#e5e7eb
}

.bluetitle {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
#Signup2 {
    border: 2px solid #f9faf8
}
.footer{
    background-color: #1f2937;
    text-align:center;
    color:#e5e7eb;
    text-align:center;
    padding:20px
}




